
:root{
    --main-text-color:#C99034;
    --gray-text-color:#939394;
    --gray-bg-color:#262728;
    accent-color: #262728;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

.btn{
    width: 93px;
    height: 46px;
    background-color: #262728;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.font-right{
    text-align: right;
}

.font-bold-p{
    font-weight: 600;
}

.margin-bottom-20{
    margin-bottom: 1.25rem;
}

.margin-right-200{
    margin-right: 12.5rem;
}

.bg-gray{
    background: rgba(248, 248, 248, 0.5);
}

.flex{
    display: flex;
}

input[type=checkbox] {
    position: relative;
    background: #393939;
    cursor: pointer;
    line-height: 0;
    margin: 0 .6em 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
}

input[type=checkbox]:hover {
opacity: 1;
}

input[type=checkbox]:checked {
background-color: #000;
opacity: 1;
}

input[type=checkbox]:before {
content: '';
position: absolute;
right: 50%;
top: 50%;
width: 4px;
height: 10px;
border: solid #FFF;
border-width: 0 2px 2px 0;
margin: -1px -1px 0 -1px;
transform: rotate(45deg) translate(-50%, -50%);
z-index: 2;
}

.submit{
    background: #3A3A3A;
    box-shadow: 0px 0px 83.0443px rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BE8E30;
    cursor: pointer;
}

/* ================= main ==================== */

/* navbar */
.navbar{
    box-sizing: border-box;
    background: var(--gray-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 4.325rem;
    height:105px;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgba(38,39,40,1) 0%, rgba(38,39,40,1) 25%, rgba(255,200,112,1) 50%, rgba(38,39,40,1) 75%, rgba(38,39,40,1) 100%);
    border-image-slice: 1;
}

.navbar_right{
    display: flex;
}

.navbar_right li{
    margin-right: 2.5rem;
}

.navbar_right li:last-child{
    margin-right: 0;
}


/* 메뉴 */

.menu{
position: relative;
}

.menu_list{
width: 1400px;
margin: 0 auto;
background: #262728;
border: 1px solid #C99034;
box-shadow: 0px 0px 100px rgb(0 0 0 / 40%);
border-radius: 1px;
position: absolute;
z-index: 9;
left: 50%;
transform: translate(-50%,0);
}

.menu_list ul{
padding:34px 34px;
position: relative;
}

.main_menu_title{
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #C99034;
margin: 36px 34px;
}

.main_menu_title.active{
background: #C99034;
width: 127px;
height: 37px;
position: absolute;
left: -14px;
top: 0;
font-family: 'Pretendard';
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #262728;
display: flex;
align-items: center;
justify-content: center;
}

.tabs .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #262728;
    width: 10%;
    height: 280px;
    border-radius: 10px 0 0 10px;
    margin-left: 10%;
}

.tabs .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 20px 0 20px 21px;
    width: 90%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    margin-left: -3%;
}

.tabs .tab button:hover {
background-color: #bee9f7;
}

.tabs .tab button.active {
    background-color: #C99034;
}

.tabcontent {
float: left;
padding: 0px 12px;
border: 1px solid #ccc;
width: 70%;
border-left: none;
height: 280px;
border-radius: 0 10px 10px 0;
}

.menu .sub_menu{
    display: flex;
    flex-wrap: wrap;
    margin: 45px 50px;
}

.menu .sub_menu li{
    padding: 1rem 0.5rem;
    flex: 0 1 127px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #939394;
    list-style-type: circle;
}

#menu .tab-container__item.active {
    background: transparent;
    color: #fff !important;
}

.menu .tab-container__item--title{
    color:#fff;
    padding: 35px 40px 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Pretendard';
    margin: 0;
}

#menu .tab-container {
    display: flex;
    border-bottom: 1px solid #3E3729;
}

.menu .tab-container__item.active .tab-container__item--title{
    color:#fff;
}


#menu .tab-container__item:hover {
    background: transparent;
    transition: background-color 0.4s ease-in-out;
    }
#menu .tab-container__item:hover .tab-container__item--title {
color: #fff;
transition: color 0.4s ease-in-out;
}


#menu .tab-container__item.active:hover {
    background: transparent;
transition: background-color 0.4s ease-in-out;
}

#menu .tab-container__item.active:hover .tab-container__item--title {
color: #fff;
transition: color 0.4s ease-in-out;
}

/* main */

#main{
    background: var(--gray-bg-color);
    height:616px;
}

.pages {
    display: flex;
    width: 300%;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: all 0.7s;
    color: white;
  }

  .container{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.main{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    height:616px;
}



.main::after{
    content: "";
    width: 100%;
    height: 100%;
    background: url('../img/bg_texxtures.png') center/cover no-repeat;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main_img1{
    height: 372px;
    width: 287px;
}

.main.gold .main_img1 img{
    position: absolute;
    left: -26px;
    top: 124px;
}

.main.gold .main_img1 .back_line{
    position: absolute;
    width: 117px;
    left: 9%;
}

.main_img2{
    width:248px;
    height:237px;
}

.main.gold .main_img2 img{
    position: absolute;
    bottom:-3.625rem;
    left:32.125rem;
}

.main.gold .main_img2 .back_line{
    position: absolute;
    width: 236px;
    bottom: -2.625rem;
    left: 30rem;
}

.main.gold .main_img3{
    width: 439.79px;
    height: 442.79px;
}

.main.gold .main_img3 img{
    position: absolute;
    top:-4.625rem;
    right:24.125rem;
}

.main.gold .main_img3 .back_line{
    position: absolute;
    top: 38%;
    transform: translate(10px, -50%);
    right: 46%;
    width: 262px;
}

.main.gold .main_img3 .back_line-small{
    position: absolute;
    top: 57%;
    transform: translate(10px, -50%);
    right: 50%;
    width: 110px;
}


/* main blue */
.main.blue .main_img1{
    width: 181px;
    height:216px;
}

.main.blue .main_img1 img{
position: absolute;
top: 5%;
left:0;
}

.main.blue .main_img1 .back_line{
    top: 19%;
    position: absolute;
    left: 3%;
    width: 210px;
}


.main.blue .main_img4{
    width: 54px;
    height:72px;
}

.main.blue .main_img4 img{
    position: absolute;
    top: 0;
    left: 200px;
}

.main.blue .main_img2{
    width: 174px;
    height:115px;

}

.main.blue .main_img2 img{
    bottom: 20px;
    left: 27%;
    transform: translate(-50%,0);
    position: absolute;
}

.main.blue .main_img2 .back_line{
    position: absolute;
    left: 30%;
    width: 210px;
    bottom: -6%;
}

.main.blue .main_img3{
    width: 522px;
    height:739px;
}

.main.blue .main_img3 img{
    top:-4.625rem;
    right: 8.125rem;
    position: absolute;
}

.main.blue .main_img3 .back_line{
    position: absolute;
    top: 38%;
    right: 39%;
    width: 300px;
    height: 300px;
    transform: translate(10px, -50%);
}

.main.blue .main_title{
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 70px;
    line-height: 85px;
    text-align: right;
    background: linear-gradient(93.5deg, #3998F0 6.82%, #D6DAFF 103.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.main.blue .main_conent{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: right;
    color: #3998F0;
}

/* main green */

.main.green .main_img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 4rem;
}

.main.green .main_img1 img{
    bottom:55px;
    position: absolute;
}

.main.green .main_img2 img{
    top:0;
    left:40%;
    position: absolute;
    transform: translate(-40%,0);
}

.main.green .main_img2 .back_line{
    top: 0;
    left: 42%;
    position: absolute;
}

.main.green .main_img3 img{
    top: -16%;
    right: 20%;
    position: absolute;
}

.main.green .main_img3 .back_line{
    top: 51%;
    left: 46%;
    position: absolute;
    transform: translate(0,-50%);
}

.main.green .main_title{
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 70px;
    line-height: 85px;
    text-align: right;
    background: linear-gradient(87.66deg, #0FD38F 2.44%, #C99034 101.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.main.green .main_conent{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: right;
    color: #C99034;
}

.bg-right{
    position: absolute;
    right: 0;
    top: 0;
}

.bg-right.black{
    z-index:1;
}
.bg-right.gold{
    right:5%;
}


.main_btn{
    width: 40px;
    height: 40px;
    background-color: #000;
    cursor: pointer;
}

.main_text{
    z-index: 12;
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translate(0, -50%);
}

.main_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 85px;
    text-align: right;

    background: linear-gradient(87.66deg, #E3C77F 2.44%, #C99034 101.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.main_hr{
    text-align: right;
    margin:1.875rem 0 ;
}

.main_conent{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: right;
    color: #C99034;
}

.content_end{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #C99034;
    opacity: 0.7;
    margin-top:1.5rem;
}

.page_btn{
    position: absolute;
    right:5rem;
    bottom: 3.75rem;
    z-index: 1;
}

.page_prv{
    margin-right:9.188rem;
}

/* main-banner */
.content{
    max-width: 1400px;
    margin:0 auto;
}

.main_banner_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.main_banner_img{
    width:929px;
    height:884px;
}

.banner-content{
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.banner-content.not-flex{
    display: flex;
    flex-direction: column;
}

.banner_title{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.12em;
    color: #D70000;
    margin: 0 1.6rem;
}

.banner_descrption{
    color:#515151;
    font-weight: 500;
    line-height: 140%;
}

.banner_descrption span{
    font-weight: 600;
}

.banner_btn{
    margin-top:2.25rem;
    font-family: 'Pretendard-Regular',sans-serif;
}

.banner_btn p{
    margin-bottom: 0.75rem;
}



.main-btn{
    font-family: 'Pretendard-Regular',sans-serif;
    border: 1px solid;
    border-image: linear-gradient(to right, rgba(255,185,0,0.1) 0%, rgba(255,255,165,1) 50%, rgba(255,185,0,0.1) 100%);
    border-image-slice: 1;
    background: linear-gradient(87.66deg, #FFF387 2.44%, #C99034 101.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0.2rem 0.4rem;
    text-align: center;
    border-radius: 4px;
}

.banner_title-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.625rem;
}

.banner_sub-title{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #4BA647;
}

.banner_main-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgb(75 166 71);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}




.banner_descrption.font-right{
    text-align: right;
    font-weight: 600;
    font-family: 'Pretendard';
}

.banner_descrption.font-right .banner_btn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner_descrption.font-right .banner_btn .btn{
    width: 109px;
}
.banner-red{
    margin-left: 6.875rem;
}

.banner-red .banner_sub-title{
    color:#E72727;
    text-align: left;
}

.banner-red .banner_main-title{
    text-shadow: 2px 2px 3px #D70000;
}

.write{
    font-family: 'Pretendard';
    font-weight: 400!important;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #515151;
}

/* footer */

#footer{
    width: 100%;
    height: 260px;
    background: #3A3A3D;
    position: relative;
    z-index: 1;
}

.footer{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_logo{
    width:104px;
    height:auto;

}

.copyright{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 131.3%;
    color: #C8C8C8;
    margin-bottom: 1.375rem;
    margin-top:1.1rem;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_description{
    display: flex;
    color: #C8C8C8;
}

.footer_description li{
    margin-right: 0.688rem;
    position: relative;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 131.3%;
    padding-left: 10px;
}

.footer_description li::before{
    content:"";
    position: absolute;
    height: 46px;
    width: 1px;
    left: 0;
    background-color: #C8C8C8;
}

.footer_menu{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #898989;
    display: flex;
}


.footer_menu li{
    position: relative;
    margin-right: 0.313rem;
    padding-right: 0.625rem;
    color:#898989;
}

.footer_menu li a{
    color:#898989;
}

.footer_menu li::after{
    position:absolute;
    right: 0;
    content: "|";
    float: right;
    display: block;
    top: 0;
}

.footer_menu li:last-child::after{
    content: "";
}

/* ======================================= login =========================================== */

#login{
    background-color: var(--gray-bg-color);
    position: relative;
}

.login{
    background-color: var(--gray-bg-color);
    position: relative;
    height: 672px;
    width: 100%;
}

.login_content{
    width:523px;
    /* height: 431px; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../img/black-marble-textures-plain\ 1.png);
    -webkit-box-shadow: 0px 1px 12px 7px rgba(0,0,0,0.85);
    box-shadow: 0px 1px 12px 7px rgba(0,0,0,0.85);

}

.login_main{
    margin:2.595rem auto;
    max-width: 374px;
}


#login-form > input{
    width: 100%;
    height: 50px;
    padding: 0 0.625rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    background: #262728;
    border: 1px solid #5A5A5A;
    box-shadow: 0px 0px 83.0443px rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    color: #D7D7D7;
}




#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}

s

#login-form > input::placeholder{
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #5B5B5B;
}

#login-form > input:focus{
    border-color: #BE8E30;
    outline: none;
}

.remember-check{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.remember-check .sign_up{
    display: flex;
    align-items: center;

}


.remember-check .sign_up .singn_up_link{
font-family: 'Pretendard';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
text-align: right;
color: #919191;
}

.remember-check .sign_up .id_find_link{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #909090;
    }


.submit{
background: #3A3A3A;
box-shadow: 0px 0px 83.0443px rgba(0, 0, 0, 0.4);
border-radius: 1px;
width: 374px;
height: 50px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #BE8E30;
margin: 2.425rem auto 0.738rem;
    justify-content: center;
}

.check_input{
    display: flex;
    align-items: center;
}

.chk_box {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #919191;

}

/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] {
    display: none;
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on {
    width: 20px;
    height: 20px;
    background: #262728;
    position: absolute;
    top: -4px;
    left: 0;
    border:1px solid #909090;
}

/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on {
    background: #787676 }

.on:after {
    content: "";
    position: absolute;
    display: none;
}

.chk_box input[type="checkbox"]:checked + .on:after {
    display: block;
}

.on:after {
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 2px;
}

.login_sns{
    border-top: 1px solid rgba(190, 142, 48, 0.4);
    margin-top: 2.688rem;
}

.simple_login{
    margin: 3rem auto 3.125rem;
}

.simple_login_title{
    font-family: 'Pretendard';
font-weight: 700;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #B5B5B5;
justify-content: center;
margin-bottom:1.5rem;
}

.simple_login_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.07rem auto 1.106px;

}

.simple_login_img li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DCDDDD;
    border: 1px solid #404040;
    margin-right: 1.563rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple_login_img li:last-child{
    margin-right: 0;
}


/* membership */

.tab-container {
    display: flex;
    border-bottom:  1px solid #BE8E30;
}
.tab-container__item {
cursor: pointer;
}
.tab-container__item:hover {
background-color:  #BE8E30;
transition: background-color 0.4s ease-in-out;
}
.tab-container__item:hover .tab-container__item--title {
color: #262728;
transition: color 0.4s ease-in-out;
}
.tab-container__item.active {
background-color: #BE8E30;
}
.tab-container__item.active .tab-container__item--title {
    color: #262728;
}
.tab-container__item.active:hover {
background-color:  #BE8E30;
transition: background-color 0.4s ease-in-out;
}
.tab-container__item.active:hover .tab-container__item--title {
color: #262728;
transition: color 0.4s ease-in-out;
}
.tab-container__item--title {
display: inline-block;
color:  #BE8E30;
font-weight: 700;
text-decoration: none;
margin: 0.938rem;
}

.content-container__content {
display: none;
}
.content-container__content.target {
display: block;
}



#membership{
    background-color:#262728 ;
    padding-bottom: 9.375rem;
    position: relative;
}

.top_banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    padding: 5.438rem 0 5.563rem;
}

.top_banner img{
    width: 157px;
    height: 122px;
}

.top_banner .banner_text{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    line-height: 126%;
    color: #C99034;
}

.top_banner .banner_text span{
    font-weight: 700;
    font-size: 32px;
}

.join_content{
    width: 719px;
    background: #262728;
    border: 1px solid #BE8E30;
    box-shadow: 0px 0px 83.0443px rgba(0, 0, 0, 0.4);
    border-radius: 0.830443px;
    margin: 0 auto;
    position: relative;
}

.bottom_bg{
    width: 100%;
    position: absolute;
    left: 0;
    height: 721px;
    bottom: -7%;
    background-position: bottom;
    background-size: contain;
    overflow: hidden;
}

.bottom_bg img{
    width: 100%;
}

.content-container .title{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #BE8E30;
    position:relative;
    padding: 0 0.625rem;
    margin: 3.125rem 1rem 1.25rem;
}

.content-container .title::before{
    position:absolute;
    left: 0;
    content: "";
    width: 3px;
    height: 15px;
    display: block;
    top: 2px;
    background-color: #BE8E30;
}

.membership_content{
    padding:0 2.313rem;
}

.membership{
    display: flex;
    border-top: 1px solid rgba(190, 142, 48, 0.4);
    border-bottom: 1px solid rgba(190, 142, 48, 0.4);
    align-items: center;
}

.membership .name{
    background: rgba(255, 255, 255, 0.03);
    color:#fff;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 0.875rem 1.25rem;
}

.membership .input_answer{
    padding: 0.625rem 1.063rem;

}

.membership input{
    background-color: transparent;
    border:1px solid #5A5A5A;
    height: 24px;
}

.membership li:nth-child(1){
    width: 25%;
}

.membership .overlap-btn{
    background-color: #2C2927;
    color:#BE8E30;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    padding:0.188rem 0.625rem;
    text-align: center;
}

.membership .info{
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    margin-left: 0.563rem;
    color: #919191;
}

.membership .info.err{
    color: #DE4A4A;
}

.input_answer .post_number{
    width: 69px;
}

.input_answer .adress{
    width: 314px;
    margin-top:0.5rem;
}

.input_answer .sub_ul {
    width: 100%;
    justify-content: space-between;
}

.input_answer .sub_ul .adress_sub{
    width: 169px!important;
    margin-top:0.5rem;
}

.overlap-btn.margin-left{
    margin-left:0.688rem;
}

.name.adress_title{
    padding:0.813rem 1.25rem 4.625rem;
}

.input_answer label{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #CACACA;
}
